* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background: url(/files/background.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}
.logo {
  width: 90px;
  height: 90px;
  padding: 20px 0;
  cursor: pointer;
  background-color: #fff;
  border-radius: 60%;
  margin-top: 10px;
}
.content {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  color: #fff;
}
.content h1 {
  font-size: 54px;
  font-weight: 600;
}
.content h1 span {
  color: #ff3753;
}
.content button {
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  padding: 8px 12px;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 550;
  font-size: 15px;
  margin-top: 5%;
  cursor: pointer;
}
.content button img {
  width: 18px;
  border-radius: 50%;
  margin-left: 10px;
}
.launch-time {
  display: flex;
  margin-top: 10px;
}
.launch-time div {
  flex-basis: 100px;
}
.launch-time p {
  font-size: 50px;
}
.rocket {
  height: 150px;
  width: 150px;
  position: absolute;
  right: 10%;
  bottom: 0;
  animation: rocket 4s linear infinite;
}
@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 105%;
    opacity: 1;
  }
}
