* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background: url(/files/background.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}
.logo {
  width: 90px;
  height: 90px;
  padding: 20px 0;
  cursor: pointer;
  background-color: #fff;
  border-radius: 60%;
  margin-top: 10px;
}
.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
